.star-container {
  background-image: url("/images/star.svg");
  background-size: auto 100%;
  width: 50%;
  height: 50%;
  will-change: background-position;
}

.star:hover {
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.star--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
}

.star--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}

@keyframes fly-cycle {
  100% {
    background-position: -40% 0;
  }
}
